/* Task List Section */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #333;
}

.logoslink {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
}

.header {
    width: 100%;
    background-color: #f7f8fa;
    padding: 20px 20px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header i{
    padding-right: 20px;
}
.header h1 {
    font-size: 24px;
    color: #333;
}

.nav-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    color: #666;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #333;
}

/* Profile picture */
.profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
}

.new-task {
    width: 70%;
    padding: 20px;
    margin: 20px auto;
}

.new-task h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    color: #666;
    margin-bottom: 5px;
}



input[type="text"]::placeholder {
    color: #b0b0b0;
}

input[type="text"] {
    padding: 20px;
    background-color: rgb(229, 226, 226);
    border: none; 
    border-radius: 5px;
    font-size: 19px;
    color: #333;
    margin-bottom: 20px;
    width: 60%; 
}


.save-button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 70px;
    margin-right: 60px;
    width: 100px;
}

.save-button:hover {
    background-color: #0056b3;
}

#message {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: #333;
}
